/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.congrats-card-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #0f172a;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.congrats-card-container {
    background-color: #cffafe;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

@media screen and (min-width: 768px) {
    .profile-image {
        height: 300px;
        width: 300px;
        border-radius: 200px;
    }
}

.profile-name {
    font-family: "Roboto";
    font-size: 24px;
    color: #1e293b;
}

@media screen and (min-width: 768px) {
    .profile-name {
        font-size: 48px;
    }
}

.profile-description {
    font-family: "Roboto";
    font-size: 18px;
    color: #1e293b;
}

@media screen and (min-width: 768px) {
    .profile-description {
        font-size: 36px;
    }
}

.watch-image {
  height: 120px;
  width: 120px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .watch-image {
    height: 240px;
    width: 240px;
  }
}